.row1{
	outline:none;
	padding: 20px;
	overflow: auto;
	height: 200px;
}
.sky-form h4{
	color: #555;
	font-size: 0.9em;
	padding: 5px 10px;
	background: #F7F7F7;
	border: 1px solid #E6E6E6;
	text-transform: uppercase;
}

.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button {
	position: relative;
	display: block;
}